*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-content{
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.btn-verify{
    padding: 6px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #000;
    font-weight: 700;
    cursor: pointer;
    margin: 10px;
}

.atv1 h1{
    margin: 1em;
}

.atv1 h2{
    margin: 0.5em;
}

.atv1 p{
    padding: 7px;
}